body {
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 900px;
  margin: 0px auto;
  padding: 30px;
}
.count-time {
  margin: 0px auto 30px;
  padding: 0px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(135deg, #c1c1c1 0%, #333335 100%);
}
.count-time li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  border-left: 1px solid #ccc;
  text-align: center;
  padding: 8px;
  color: #fff;
}
.count-time li:first-child {
  border-left: 1px solid transparent;
}
.count-time li > div {
  font-size: 35px;
}